<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Management App</title>
    <link href="/output.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="header">

        <!-- Responsive navbar-->
        <nav
            class="flex flex-col bg-slate-900 sm:flex-row flex-wrap md:items-center fixed top-0 z-20 w-full px-4 md:px-5 lg:px-16 py-2 justify-between">
        
        
            <div class="flex justify-between sm:justify-around gap-x-2 text-white items-center">
        
        
                <!-- Hamburger -->
                <button class="sm:hidden cursor-pointer flex flex-col justify-center gap-y-1" id="hamburger" aria-label="menu">
                    <div class="w-6 h-1 bg-white rounded-lg bar duration-500"></div>
                    <div class="w-6 h-1 bg-white rounded-lg bar duration-500"></div>
                    <div class="w-6 h-1 bg-white rounded-lg bar duration-500"></div>
                </button>
        
            </div>
        
        <!-- Links in the navbar -->
            <ul class="hidden sm:flex text-gray-400 justify-end items-center gap-x-7 gap-y-5 mt-5 sm:mt-0" id="links">
                <!--  Start dropdown -->
                <li class="relative">
                    <button id="dashButton" class="hover:text-gray-300 flex items-center">Dashboard
                        <svg width="12" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                            stroke="currentColor" class="w-5">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                fill="#000000" />
                        </svg>
                    </button>
                    <!-- Start dropdown menu -->
                    <div id="dashDropdown" class="absolute bg-white rounded-md p-2 mt-2 hidden">
                        <ul class="space-y-2  md:w-32 lg:w-36">
                            <li class="flex font-medium text-gray-600 md:p-2 rounded-md hover:bg-gray-100 hover:text-black">
                                <a href="/dash">Dashboard</a>
                            </li>
                            <li class="flex font-medium text-gray-600 md:p-2 rounded-md hover:bg-gray-100 hover:text-black">
                                <a href="/dash/expiring">Expiring Items</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end of dropdown menu -->
                </li>
                <!-- end dropdown -->
                <li id="contentBelowDashboard" class="">
                    <a href="/comments" class="active hover:text-gray-300">Comments</a>
                </li>
                
                <!--  Start dropdown -->
                <li class="relative">
                    <button id="recipesButton" class="hover:text-gray-300 flex items-center">Recipes
                        <!-- <img src="/public/images/down-arrow.svg" alt="down arrow" width="10" class="ml-1"> -->
                        <svg width="12" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" class="w-5">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
                                fill="#000000" />
                        </svg>
                    </button>
                    <!-- Start dropdown menu -->
                    <div id="recipeDropdown" class="absolute bg-white rounded-md p-2 mt-2 hidden">
                        <ul class="space-y-2  md:w-32 lg:w-36">
                            <li class="flex font-medium text-gray-600 md:p-2 rounded-md hover:bg-gray-100 hover:text-black">
                                <a href="/recipes">My Recipes</a>
                            </li>
                            <li class="flex font-medium text-gray-600 md:p-2 rounded-md hover:bg-gray-100 hover:text-black">
                                <a href="/recipes/viewRecipeFeed">Recipes Feed</a>
                            </li>
                            <li class="flex font-medium text-gray-600 md:p-2 rounded-md hover:bg-gray-100 hover:text-black">
                                <a href="/recipes/savedRecipes">Saved Recipes</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end of dropdown menu -->
                </li>
                <!-- end dropdown -->
                <li id="contentBelowDropdown" class="">
                    <a href="/logout" class="hover:text-gray-300">Log Out</a>
                </li>
        
            </ul>
        
        </nav>
        
    </header>

    
    <script src="/menu.js"></script>
</body>

</html>