<h2>Enter your comments</h2>

<form action="/comments" method="POST">
    <input type="text" placeholder="title" name="title">
    <div class="text">
        <textarea name="comment" id="" cols="30" rows="10" placeholder="Add your comment here"></textarea>
    </div>
    <button type="submit">Send</button>
</form>


<ul>
    <% getComments.forEach(comment=> { %>
        <li>
            <div>
                <%= comment.title %>
            </div>
            <div>
                <%= comment.comment %>
            </div>
            <a href="/comments/edit/<%= comment._id%>">Edit</a>
            <a href="/comments/delete/<%= comment._id%>">Delete</a>
        </li>
    <% }) %>
</ul>

<a href="/">
    <button type="submit">Dashboard</button>
</a>
<a href="/recipes">Add Recipes</a>