<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Management App</title>
    <link href="/output.css" rel="stylesheet">
    <!-- <link href="/css/styles.css" rel="stylesheet"> -->
</head>

<body class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-yellow-600 to-red-600">

    <!-- <main class="m-4 p-7 bg-white flex flex-col justify-center items-center"> -->
    <main class="m-4 p-7 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-yellow-600 to-red-600 flex flex-col justify-center items-center">
    <!-- <main class="p-5 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-black/5 to-black/5 bg-no-repeat bg-contain "> -->
    <!-- <main class="p-5 bg-[url('../images/12802.jpg')] from-black/5 to-black/5 bg-no-repeat bg-contain "> -->

        <!-- Hero -->
        <section class="bg-[#f6f6f6] p-3">
        <!-- <section class="bg-[url('../images/12802.jpg')] bg-no-repeat bg-contain"> -->
            <div class="p-2 container flex flex-col items-center gap-12 lg:mt-10">
                <!-- Content -->
                <div class="p-2">
                    <h2 class="text-[#515070] mb-2 capitalize font-semibold text-center text-3xl md:text-4xl lg:text-5xl">
                        Ainora food management app
                    </h2>
                    <p class="text-gray-800 text-lg text-center font-medium tracking-tighter md:tracking-wider">
                        Reducing food waste one household at a time.
                    </p>
                </div>

                <!-- Image -->
                <div class="border-2 border-black/10 w-80 md:w-[600px] lg:w-[786px]">
                    <div class="rounded w-full">
                        <img class="w-full h-full object-contain" src="../images/pexels-jane-doan-1092730.jpg"
                            alt="" />
                    </div>
                </div>

                <!-- login and signup -->
                <div class="w-full">
                    <div class="flex flex-col items-center md:flex-row md:justify-evenly">
                        <a href="/login"
                            class="w-44 py-2 px-[20px] text-center bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-[#FF8E6E] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#FF8E6E] hover:shadow-[#FF8E6E]">
                            Login
                        </a>
                    
                        <a href="/signup"
                            class="w-44 py-2 px-[20px] text-center bg-black/5 text-[#515070] text-base no-underline delay-100 tracking-wide m-2 rounded hover:bg-[#FF8E6E] hover:text-white hover:rounded-lg hover:shadow-lg group-hover:shadow-[#FF8E6E] hover:shadow-[#FF8E6E]">
                            Signup
                        </a>
                    
                    </div>
                </div>    

                    <!-- Extra section  -->
                <div class=" flex flex-col md:flex-row md:justify-evenly">
                    <div class="relative m-2 py-3 md:px-3">
                        <dt class="text-center text-base capitalize font-semibold leading-7 text-gray-900 md:h-24 lg:pt-4">
                            What is a food management app?
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">A simple and easy-to-use app that helps you manage your food and avoid waste by keeping track of your food items and their
                            expiry dates.</dd>
                    </div>
                    <div class="relative mx-2 md:my-2 border-black/10 border-y-2 py-5 md:border-black/10 md:border-x-2 md:px-5 md:py-2 md:border-y-0">
                        <dt class="text-center text-base capitalize font-semibold leading-7 text-gray-900 md:pt-6 md:h-24">
                            Why use this app?
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">
                            It tracks your food's freshness, avoiding wastage from forgotten expiration dates.
                            You discover new dishes and creatively use ingredients before they go bad.
                            Share your recipes, while also exploring exciting recipes from other users.
                        </dd>
                    </div>
                    <div class="relative m-2 py-3 md:px-3">
                        <dt class="text-center text-base capitalize font-semibold leading-7 text-gray-900 md:pt-6 md:h-24 ">
                            Reasons to reduce food waste
                        </dt>
                        <dd class="mt-2 text-base leading-7 text-gray-600">It reduces the overall environmental footprint of food production and disposal while improving financial savings. Incorporating practices that reduce food waste benefits both the environment and society, making it an important goal
                        for everyone.</dd>
                    </div>
                </div>
                
            </div>
            
        </section>

        <footer>
            <p class="copyright mt-16 text-white">
                copyright &copy; Ainora food management app <span id="date">2023</span>.
                all rights reserved
            </p>
        </footer>
        
    </main>

</body>
</html>